:root {
    --text: #222;
    --background: #FFF;
    --link: #4fc3f7;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: var(--text);
	background-color: var(--background);
}

main {
	position: absolute;
	top: 40%;
	left: 20%;
}

a {
	text-decoration: none;
    color: var(--link);
}

h1 {
	font-size: 3rem;
	height: 5rem;
	line-height: 5rem;
	font-weight: 200;
}

h1 img {
	display: inline;
	vertical-align: middle;
	width: 5rem;
	height: 5rem;
	user-select: none;
}

h1 span {
	display: inline-block;
	padding-left: 1rem;
	text-align: center;
}

footer {
	position: absolute;
	left: 2rem;
	bottom: 2rem;
	font-size: 1rem;
}